{% extends 'base.html' %}
{% block content %}
{% load socialaccount %}
    <div class="overlay">
        <div class="loginForm">
            <span id="cancel">&times;</span>
            <form method="post" action="{% url 'account_login' %}">
                {% csrf_token %}
                <div>
                    <label for="">email address</label>
                    <input type="text" name="login" required id="email">
                </div>
                <div>
                    <label for="">Password</label>
                    <input type="password" name="password" required id="password">
                </div>
                <button class="LoginBtn" type="submit">Login</button>
            </form>
            <br>
            <hr>
            <h3 style="margin-top: 10px;">Social Login</h3>
            <button id="google" class="socialBtn"> Sign-up with google</button>
            <button class="socialBtn">Sign-up with facebook</button>
        </div>
    </div>

{% endblock %}