{% extends 'home.html' %}
{% block task_list %}
<table class="table table-striped table-hover">
    {% if not tasks %}
    <h2>No Task for Today</h2>
    {% else %}
    <thead>
        <tr>
            <th>
                <span class="custom-checkbox">
                    <input type="checkbox" id="selectAll">
                    <label for="selectAll"></label>
                </span>
            </th>
            <th>Task</th>
            <th>Tag</th>
            <th>Priority</th>
            <th>Time</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr>
            <th>
                <span class="custom-checkbox">
                    <input type="checkbox" id="checkbox1" name="options[]" value="1">
                    <label for="checkbox1"></label>
                </span>
            </th>
            <th>{{ task.title }}</th>
            <th>{{ task.tag }}</th>
            <th>{{ task.priority }}</th>
            <th>{{ task.time }}</th>
            <th>
                <a href="#editEmployeeModal" class="edit-task" data-task-id="{{ task.id }}" data-toggle="modal"><i class="material-icons"
                        data-toggle="tooltip" title="Edit">&#xE254;</i></a>

                <a href="#deleteUserTask" class="delete-task" data-task-name="{{ task.title }}" data-task-id="{{ task.id }}">
                    <i class="material-icons" title="Delete">&#xE872;</i>
                </a>
            </th>
        </tr>
        {% endfor %}
    </tbody>
    {% endif %}
    <!-- Delete Task Modal
<div class="add_task_overlay">
    <div class="add_task_form">
        <span id="hide_add_task">&times;</span>
        <h4>Delete Task</h4>
        <p id="taskTitle"></p>
        <form id="deleteTaskForm" method="post" action="">
            {% csrf_token %}
            <button type="submit">Confirm Delete</button>
        </form>
        <button id="cancelDelete">Cancel</button>
    </div>
</div> -->
</table>
{% endblock task_list %}